<div class="page">
  <div class="divided title">
    Confirmation
  </div>

  <div class="ui stackable page grid">
    <div class="column">

      <div class="ui form">

        <div class="divided title">Basic Details</div>

        <fieldset ng-disabled="pastConfirmation">

          <div class="field">
            <label> What's your phone number? (required) </label>
            <p>
              We need this in case we need to get ahold of you!
            </p>
            <input type="tel"
                   name="phone"
                   ng-model="user.confirmation.phoneNumber"
                   placeholder="(123) - 555 - 1234"
                   required>
          </div>

          <div class="field">
            <label> Dietary Restrictions </label>

            <p>
              If your restriction is not included here, please let us know in the additional notes at the bottom.
            </p>
            <p>
              We'll make sure you get fed.
            </p>

          </div>

          <div class="inline fields">
            <div class="field"
              ng-repeat="(key, value) in dietaryRestrictions">

              <div class="ui checkbox">
                <input type="checkbox" ng-model="dietaryRestrictions[key]" />
                <label>{{key}}</label>
              </div>

            </div>
          </div>

          <div class="field">
            <label>
              Will you be needing hardware?
            </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.wantsHardware">
              <label> Yes, I would like to use hardware in my hack. </label>
            </div>
          </div>

          <div
            class="field"
            ng-show="user.confirmation.wantsHardware">
            <label>
              What kind of hardware would be useful for you?
            </label>
            <p>
              We will have a hardware checkout, and we'll try our best to provide things that would be useful to you - however, we can't guarantee everything. We will publish a list of available hardware closer to the day of the event.
            </p>
            <input type="text" ng-model="user.confirmation.hardware">
          </div>

          <!-- TODO: Do you require special accommodations? 
              Click a bubble for yes or no.  
              When yes is clicked, an open field becomes available to enter response 
          -->
          <div class="field">
              <label>
                  Do you require special accommodations? 
              </label>
              <div class="ui checkbox">
                <input type="checkbox" ng-model="user.confirmation.requireAccommodations">
                <label> Yes, I will need special accommodations.</label>
              </div>
            </div>

          <div
            class="field"
            ng-show="user.confirmation.requireAccommodations">
            <label>
              What special accomodations do you require?
            </label>
            <p>
              We will do our best to meet this accomodations.
            </p>
            <input type="text" ng-model="user.confirmation.accommodations">
          </div>

          <br>
          <br>

          <div class="divided title">Travel</div>

          <div class="field">
            <p>
              We are still determining our travel reimbursement policy. 
              For those who need it, we will email you once we have finalized our policy.
            </p>
          </div>

          <div class="field">
            <label> Will you be needing travel reimbursement? </label>
            <div class="ui checkbox">
              <input type="checkbox" ng-model="user.confirmation.needsReimbursement">
              <label> I will be needing travel reimbursement. </label>
            </div>
          </div>

          <br>
          <br>

          <div class="divided title">Legal</div>

          <div class="field">
            <label> Liability Waiver </label>
            <p>
              <a
                target="_blank"
                href="https://docs.google.com/document/d/1jU0tRwMUIfaoCIgUoRWQKbAqsTZNSyDaPIMUsQ79mwE/edit?usp=sharing">
                Liability Waiver
              </a>
            </p>
            <p>
              For legal reasons, our university asks that you read and accept the terms of our liability waiver. 
              Again, as we mentioned in the application - you <strong> must </strong> be 18 years or older or 
              an OU undergraduate by the day of the event, or <strong> we will refuse you admission at the door. 
              We will be checking ID. </strong>
            </p>
            <p>
              By writing my name below, I affirm that I have read and accepted the terms of the liability waiver above, 
              and will be either an OU undergraduate or 18 years or older at the time of the event.
            </p>
            <input type="text"
                   name="signatureLiabilityWaiver"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signatureLiability">
          </div>

          <div class="field">
            <label> Photo Release </label>
            <p>
              <a
                target="_blank"
                href="https://docs.google.com/document/d/1R13A6Zgei1qditdXkFV_2IiWC8F-MEoa8cNwSY2xEWU/edit?usp=sharing">
                Photo Release
              </a>
            </p>
            <p>
              Signing this photo release means if we take photos or photos of you, we can share it with the world.
            </p>
            <p>
              By writing my name below, I affirm that I have read and accepted the terms of the photo release above.
            </p>
            <input type="text"
                   name="signaturePhotoRelease"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signaturePhotoRelease">
          </div>

          <div class="field">
            <label> Code of Conduct </label>
            <p>
              <a
                target="_blank"
                href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf">
                MLH Code of Conduct
              </a>
              <br/>
              <a
                target="_blank"
                href="https://www.ou.edu/studentconduct/policies.html">
                University of Oklahoma policies
              </a>
            </p>
            <p>
              It is extremely important to us that attendees follow a set of guidelines to make the event fun for everyone involved. 
              Please read through and make sure you understand what we will be expecting of you.
            </p>
            <p>
              If I attend Hacklahoma, I agree to adhere to the MLH code of conduct, 
              and I agree to abide by University of Oklahoma policies.
            </p>
            <input type="text"
                   name="signatureCodeOfConduct"
                   placeholder="Your Full Legal Name"
                   ng-model="user.confirmation.signatureCodeOfConduct">
          </div>

          <br>
          <br>

          <div class="divided title">everything else</div>

          <div class="field">
            <label>
              Additional Notes
            </label>
            <p>
              If there's anything else you need to let us know, tell us here!
            </p>
            <textarea
              ng-model="user.confirmation.notes"></textarea>
          </div>

          <div class="field" ng-hide="regIsClosed">
            <button type="submit"
                    class="fluid ui green button"
                    ng-click="submitForm()">
              Submit
            </button>
          </div>

        </fieldset>
      </div>
    </div>
  </div>
</div>
